.kda-text {
  margin: 0 auto;
  align-self: center;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

.kills {
  color: rgb(24, 190, 49);
}

.deaths {
  color: rgb(212, 61, 61);
}

.assists {
  color: rgb(60, 123, 204);
}
