<div class="d-flex flex-column">
  <div class="d-flex flex-row">
    <span class="kda-text"
      >KDA:&nbsp;<span class="kda-text" [style.color]="getKdaColor()"
        >{{ kda | number: '.0-2' }}:1</span
      >,&nbsp;
      <span class="kda-text kills">{{ avgKills | number: '.0-1' }}</span
      >/<span class="kda-text deaths">{{ avgDeaths | number: '.0-1' }}</span
      >/<span class="kda-text assists">{{ avgAssists | number: '.0-1' }}</span>
    </span>
    <button mat-icon-button (click)="toggleChart()">
      <mat-icon>insert_chart_outlined</mat-icon>
    </button>
  </div>
  <ng-container *ngIf="chosenChart === 'separated'; else: combined">
    <canvas
      baseChart
      [datasets]="kdaSeparatedChartData"
      [labels]="kdaChartLabels"
      [colors]="kdaSeparatedChartColors"
      [chartType]="chartType"
    ></canvas>
  </ng-container>
  <ng-template #combined>
    <canvas
      baseChart
      [datasets]="kdaCombinedChartData"
      [labels]="kdaChartLabels"
      [colors]="kdaCombinedChartColors"
      [chartType]="chartType"
    ></canvas>
  </ng-template>
</div>
