<mat-card class="card">
  <mat-card-content *ngIf="followedPlayers">
    <div class="row" *ngFor="let player of followedPlayers">
      <a [routerLink]="['/summoner', player.region, player.name]">
        {{ player.name }}
      </a>
      <span class="text-right">{{ player.region }}</span>
    </div>
  </mat-card-content>
</mat-card>
