<mat-card *ngIf="player" [style.height.%]="100">
  <mat-card-title>{{ player.name }}</mat-card-title>
  <mat-card-subtitle>{{ player.summonerLevel }}</mat-card-subtitle>
  <mat-card-content>
    <img
      [src]="staticGameData.getProfileIconUrl(player.profileIconId)"
      class="player-icon"
    />
  </mat-card-content>
  <mat-card-actions>
    <button mat-mini-fab (click)="refreshData()" color="primary">
      <mat-icon>autorenew</mat-icon>
    </button>
    <button mat-raised-button (click)="toggleLiveMatch()" color="primary">
      Check for live match
      <mat-icon>visibility</mat-icon>
    </button>
    <button
      mat-fab
      (click)="toggleFollowPlayer()"
      color="primary"
      style="float: right"
    >
      <mat-icon *ngIf="followed">favorite</mat-icon>
      <mat-icon *ngIf="!followed">favorite_border</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
