<div class="centered donger full-screen">
  <mat-card class="content">
    <mat-card-title class="centered">
      <span class="header-font">Search for a player</span>
    </mat-card-title>
    <mat-card-content class="centered">
      <search-summoner></search-summoner>
      <span class="text-font error-text">{{ this.errorMessage }}</span>
    </mat-card-content>
    <mat-card-footer class="centered">
      <span class="header-font">Fun fact:</span>
      <span class="text-font">{{ this.funFact }}</span>
    </mat-card-footer>
  </mat-card>
</div>
