.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.donger {
  background-image: url('../../assets/heimer-splash-banner.jpg');
  background-size: cover;
}

.full-screen {
  width: 100%;
  height: 100%;
}

.content {
  top: -10%;
  background-color: rgba($color: #d6f5ff, $alpha: 0.6);
  padding-bottom: 30px;
}

.header-font {
  font-size: 24px;
}

.text-font {
  font-size: 16px;
}

.error-text {
  color: #a32a0f;
}

:host ::ng-deep .form-field {
  margin: 0px 10px;
  font-size: 16px;
}

:host ::ng-deep .select {
  max-width: 100px;
  width: auto;
}
