<form [formGroup]="formItems" (ngSubmit)="onSubmit()">
  <mat-form-field class="form-field">
    <input
      matInput
      placeholder="Summoner Name"
      formControlName="summonerName"
    />
  </mat-form-field>
  <mat-form-field class="form-field select">
    <mat-label>Region</mat-label>
    <mat-select formControlName="region">
      <mat-option *ngFor="let x of regions" [value]="x.key">
        {{ x.value }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-button type="submit">Search</button>
</form>
