<ng-container *ngIf="champion; else: loading">
  <div class="centered">
    <mat-card class="content-row">
      <mat-card-title>{{ champion.name }}</mat-card-title>
      <mat-card-content class="image-card-content">
        <img
          [src]="
            staticGameData.getChampionSplashArtUrl(
              champion.id,
              champion.skins[0].num
            )
          "
          alt="{{ champion.name }}"
        />
        <div class="bars-container">
          <div class="flex">
            <div class="bars-row">
              <span class="text">ATK</span>
              <div class="bar">
                <span
                  [style.width.%]="
                    ((champion.info.attack / 10) * 100).toFixed(0)
                  "
                ></span>
              </div>
            </div>
            <div class="bars-row">
              <span class="text">DEF</span>
              <div class="bar">
                <span
                  [style.width.%]="
                    ((champion.info.defense / 10) * 100).toFixed(0)
                  "
                ></span>
              </div>
            </div>
            <div class="bars-row">
              <span class="text">DIF</span>
              <div class="bar">
                <span
                  [style.width.%]="
                    ((champion.info.difficulty / 10) * 100).toFixed(0)
                  "
                ></span>
              </div>
            </div>
            <div class="bars-row">
              <span class="text">MAG</span>
              <div class="bar">
                <span
                  [style.width.%]="
                    ((champion.info.magic / 10) * 100).toFixed(0)
                  "
                ></span>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <div class="content-row">
      <div class="row no-gutters">
        <div class="col">
          <mat-card class="full-height ally-tip">
            <mat-card-title>Ally tips</mat-card-title>
            <mat-card-content>
              <ul>
                <li *ngFor="let tip of champion.allytips">{{ tip }}</li>
              </ul>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col">
          <mat-card class="full-height enemy-tip">
            <mat-card-title>Enemy tips</mat-card-title>
            <mat-card-content>
              <ul>
                <li *ngFor="let tip of champion.enemytips">{{ tip }}</li>
              </ul>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
    <mat-card class="content-row">
      <mat-card-title
        >{{ champion.passive.name }} <span>(Passive)</span></mat-card-title
      >
      <mat-divider> </mat-divider>
      <mat-card-content>
        <div class="d-flex flex-row" [style.padding-top.px]="10">
          <img
            class="spell-image"
            [src]="staticGameData.getPassiveImageUrl(champion.passive)"
          />
          <div class="d-flex flex-column spell-text-container">
            {{ champion.passive.description }}
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="content-row" *ngFor="let spell of champion.spells">
      <mat-card-title> {{ spell.name }}</mat-card-title>
      <mat-divider> </mat-divider>
      <mat-card-content>
        <div class="d-flex flex-column">
          <div
            class="d-flex flex-row"
            [style.padding-bottom.px]="10"
            [style.padding-top.px]="10"
          >
            <span>Cooldown: {{ spell.cooldownBurn }}</span>
            <span class="content-right"
              >Cost: {{ spell.costBurn }}{{ spell.costType }}</span
            >
          </div>
          <div class="d-flex flex-row">
            <img
              class="spell-image"
              [src]="staticGameData.getSpellImageUrl(spell)"
            />
            <div class="d-flex flex-column spell-text-container">
              {{ spell.description }}
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</ng-container>
<ng-template #loading><mat-spinner></mat-spinner></ng-template>
