.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-row {
  margin: 10px 0;
  width: 600px;
}

.image-card-content {
  img {
    object-fit: contain;
    width: 100%;
    height: auto;
  }

  $barsContainerWidth: 200px;
  $barColumnWidth: 150px;

  .bars-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: $barsContainerWidth;
    padding: 24px;

    .flex {
      display: flex;
      flex-direction: column;

      .bars-row {
        height: 30px;
        width: 100%;
        margin: 2px;
        display: flex;

        .text {
          width: calc(#{$barsContainerWidth} - #{$barColumnWidth});
          color: white;
          font-size: 14px;
          font-weight: 500;
          text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
          align-self: center;
        }

        .bar {
          width: $barColumnWidth;
          display: flex;
          span {
            background-image: linear-gradient(to right, #5bb2cf, #31a396);
            border: 1px solid #3187a3;
            border-radius: 1px;
          }
        }
      }
    }
  }
}

.full-height {
  height: 100%;
}

.ally-tip {
  background-image: linear-gradient(
    to bottom,
    rgba(#81cc8c, 1),
    rgba(#81cc8c, 0.5)
  );
}

.enemy-tip {
  background-image: linear-gradient(
    to bottom,
    rgba(#d17d7d, 1),
    rgba(#d17d7d, 0.5)
  );
}

.spell-image {
  width: 80px;
  height: 80px;
  object-fit: contain;
  border: solid 3px #363636;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.spell-text-container {
  padding: 0 15px;
}

.content-right {
  margin: 0 0 0 auto;
}
