<a *ngIf="loggedIn" [routerLink]="['/fav-players']"
  ><button mat-flat-button color="primary">Favourites</button></a
>
<button mat-button (click)="openLoginDialog()" *ngIf="!loggedIn">
  Sign in
</button>
<button mat-button (click)="openRegisterDialog()" *ngIf="!loggedIn">
  Sign up
</button>
<button mat-button (click)="logOut()" *ngIf="loggedIn">Sign out</button>
