<mat-menu #searchChallengers>
  <div>
    <form [formGroup]="formItems" (ngSubmit)="onSubmit()" class="form">
      <mat-form-field class="form-field select">
        <mat-label>Queue</mat-label>
        <mat-select (click)="$event.stopPropagation()" formControlName="queue">
          <mat-option *ngFor="let x of queues" [value]="x.key">
            {{ x.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="form-field select">
        <mat-label>Region</mat-label>
        <mat-select (click)="$event.stopPropagation()" formControlName="region">
          <mat-option *ngFor="let x of regions" [value]="x.key">
            {{ x.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </form>
  </div>
</mat-menu>
<button mat-button [matMenuTriggerFor]="searchChallengers">Top players</button>
