.flex-row-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.column-direction {
  flex-direction: column;
}

.tier-icon {
  width: 90%;
  height: auto;
  //height: 80%;
  //object-fit: contain;
}

.header {
  font-size: 16px;
  font-weight: bold;
}

.subheader {
  font-size: 14px;
  font-weight: 500;
}

.text {
  font-size: 12px;
}
