<mat-card [style.height.%]="100">
  <mat-card-content>
    <div class="row" *ngFor="let item of rankedInfo">
      <div class="col-5">
        <img
          [src]="staticGameData.getRankedTierIconUrl(item.tier)"
          class="tier-icon"
        />
      </div>
      <div class="col-7">
        <span class="header">{{ item.queueType | rankedQueueTypePipe }}</span
        ><br />
        <span class="subheader">{{ item.leagueName }}</span
        ><br />
        <span class="text"
          >{{ item.tier }} {{ item.rank }}, {{ item.leaguePoints }} LP</span
        ><br />
        <span class="text">W: {{ item.wins }} L: {{ item.losses }}</span>
      </div>
    </div>
  </mat-card-content>
</mat-card>
