$panelHeaderHeight: 100px;
$rowDurationTextHeight: 30px;

.expansion {
  margin: 5px 0;
}

.expansion-header-row {
  width: 95%;
  margin: 0;
  height: $panelHeaderHeight;
}

.progress {
  background-color: #e3e3e3;
  border: 1px #cddddd solid;
  height: 100%;

  .fill {
    height: 100%;
    margin: -1px;
    border: 1px #c64430 solid;
    background-color: #ee5a58;
  }

  .inverted {
    float: right;
  }
}

.inherit-height {
  height: inherit;
}

.col-icon {
  padding: 0;
  max-width: 50px;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.row-duration-text {
  height: $rowDurationTextHeight;
}

.row-champion-big-image {
  height: calc(#{$panelHeaderHeight} - #{$rowDurationTextHeight});

  img {
    object-fit: contain;
    height: 80%;
    width: auto;
    border-radius: 50%;
    align-self: center;
  }

  span {
    display: inline-block;
    right: 13%;
    bottom: 10%;
    z-index: 10;
    font-weight: 500;
    color: white;
    background-color: rgba($color: #000000, $alpha: 0.3);
    padding: 0 3px;
    border-radius: 50%;
    position: absolute;
  }
}

.row-half-height {
  height: calc(#{$panelHeaderHeight} / 2);

  img {
    object-fit: contain;
    height: 60%;
    width: auto;
    border-radius: 50%;
    align-self: center;
    margin: 0 auto;
  }
}

.row-quarter-height {
  height: calc(#{$panelHeaderHeight} / 4);
}

.col-item {
  height: inherit;

  img {
    object-fit: contain;
    height: 100%;
    width: auto;
    border-radius: 20%;
    align-self: center;
    margin: 0 5px;
  }

  .no-item {
    background-color: rgba($color: #000000, $alpha: 0.2);
    border-radius: 20%;
    height: inherit;
    width: 25px;
    margin: 0 5px;
  }
}

$participantSummaryRowHeight: 20px;
$participantSummaryRowWidth: 85px;

.row-participant-summary {
  height: $participantSummaryRowHeight;
  width: $participantSummaryRowWidth;
  max-height: $participantSummaryRowHeight;

  .icon {
    width: $participantSummaryRowHeight;
    height: $participantSummaryRowHeight;
  }

  .name {
    width: calc(
      #{$participantSummaryRowWidth} - #{$participantSummaryRowHeight}
    );
  }

  img {
    display: block;
    object-fit: contain;
    height: 90%;
    width: auto;
    max-width: 90%;
    border-radius: 20%;
    align-self: center;
  }

  a {
    width: inherit;
    font-size: 10px;
    display: inline-block;
    text-overflow: ellipsis;
    text-decoration: none;
    color: inherit;
    white-space: nowrap;
    overflow: hidden;
  }
}

.centered {
  margin: 0 auto;
  align-self: center;
}

.centered-horizontally {
  margin: 0 auto;
}

.text-centered-horizontally {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.vertical-up {
  align-self: baseline;
}

.vertical-center {
  align-self: center;
}

.vertical-down {
  align-self: end;
}

.small-padding {
  padding: 0 5px;
}

.mid-bold {
  font-weight: 500;
}

.kill-assist {
  color: #476273;
}

.death {
  color: #6e4444;
}

.gray {
  color: rgba(#353535, 1);
}

::ng-deep .mat-tooltip {
  white-space: pre-line !important;
}

//panel content
$playerRowHeight: 30px;
.full-width {
  width: 100%;
}

.header-row {
  margin: 0;
  background-color: rgba($color: #e3e3e3, $alpha: 0.8);
  font-weight: 500;
  text-align: center;
}

.team {
  margin: 5px 0;
  border-style: solid;
  border-width: 3px 1px 1px 1px;
}

.border-no-left {
  border-style: solid;
  border-width: 3px 1px 1px 0;
}

.border-no-right {
  border-style: solid;
  border-width: 3px 0 1px 1px;
}

.team-progress {
  height: 22px;
}

.fill-min-width {
  min-width: 10px;
}

.player-row {
  margin: 5px 0;
}

.icons-player-name {
  display: flex;
  flex-direction: row;

  .champion {
    height: $playerRowHeight;
    width: $playerRowHeight;
    margin-right: 15px;

    img {
      object-fit: contain;
      height: 100%;
      width: auto;
      border-radius: 50%;
      align-self: center;
    }

    span {
      display: inline-block;
      left: 25px;
      bottom: 0px;
      z-index: 10;
      font-weight: 500;
      font-size: 12px;
      color: white;
      background-color: rgba($color: #000000, $alpha: 0.3);
      padding: 0 3px;
      border-radius: 50%;
      position: absolute;
    }
  }

  .summoners-runes {
    height: $playerRowHeight;
    width: calc(#{$playerRowHeight} / 2);

    .image {
      margin: 0;
      padding: 0;
      height: calc(#{$playerRowHeight} / 2);
      width: calc(#{$playerRowHeight} / 2);

      img {
        display: block;
        object-fit: contain;
        height: 100%;
        width: auto;
        border-radius: 20%;
        align-self: center;
      }
    }
  }
}

.kda-cs {
  height: calc(#{$playerRowHeight} / 2);
  font-size: 12px;
}

.dmg {
  height: calc(#{$playerRowHeight} / 2);
  font-size: 10px;
  font-weight: 500;
}

.vision {
  height: calc(#{$playerRowHeight} / 2);
  font-size: 10px;

  div {
    height: inherit;
    display: inherit;

    img {
      display: block;
      object-fit: contain;
      height: 100%;
      width: auto;
      border: 1px #353535 solid;
      border-radius: 50%;
      align-self: center;
    }
  }
}

.items-bans {
  height: $playerRowHeight;
  display: flex;
  flex-direction: row;

  .fill {
    margin: 0 auto;
  }

  .no-ban {
    background-color: rgba($color: #000000, $alpha: 0.2);
    border-radius: 20%;
    height: $playerRowHeight;
    width: $playerRowHeight;
  }

  img {
    display: block;
    object-fit: contain;
    height: 100%;
    width: auto;
    border-radius: 20%;
    align-self: center;
  }
}

:host-context() ::ng-deep .mat-expansion-panel-body {
  padding: 0;
}
//panel content

$wide1680p: '(min-width: 1680px)';

@media #{$wide1680p} {
  $participantSummaryRowWidth: 120px;

  .row-participant-summary {
    height: $participantSummaryRowHeight;
    width: $participantSummaryRowWidth;
    max-height: $participantSummaryRowHeight;

    .icon {
      width: $participantSummaryRowHeight;
      height: $participantSummaryRowHeight;
    }

    .name {
      width: calc(
        #{$participantSummaryRowWidth} - #{$participantSummaryRowHeight}
      );
    }

    img {
      object-fit: contain;
      height: 90%;
      width: auto;
      max-width: 90%;
      border-radius: 20%;
      align-self: center;
    }

    a {
      width: inherit;
      font-size: 10px;
      display: inline-block;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}
