<mat-expansion-panel class="expansion">
  <mat-expansion-panel-header
    [collapsedHeight]="'100px'"
    [expandedHeight]="'100px'"
    [ngStyle]="{ 'background-color': getBgColor(playerStats.win) }"
  >
    <div class="row expansion-header-row">
      <div class="col-1 inherit-height no-margin" [style.padding-left]="0">
        <div class="row row-duration-text no-margin">
          <span class="centered-horizontally vertical-down">{{
            durationFormatted
          }}</span>
        </div>
        <div class="row row-champion-big-image no-margin">
          <img
            class="centered"
            *ngIf="playerStats"
            [src]="
              staticGameData.getChampionSquareImageUrl(playerStats.championId)
            "
            matTooltip="{{ staticGameData.getChampionByChampionId(playerStats.championId).name }}"
          />
          <span>{{ playerStats.champLevel }}</span>
        </div>
      </div>
      <div class="col-1 inherit-height col-icon no-margin">
        <div class="row row-half-height no-margin">
          <img
            *ngIf="playerStats.spell1Id"
            [src]="
              staticGameData.getSummonerSpellImageUrl(playerStats.spell1Id)
            "
          />
        </div>
        <div class="row row-half-height no-margin">
          <img
            *ngIf="playerStats.spell2Id"
            [src]="
              staticGameData.getSummonerSpellImageUrl(playerStats.spell2Id)
            "
          />
        </div>
      </div>
      <div class="col-1 inherit-height col-icon no-margin">
        <div class="row row-half-height no-margin">
          <img
            *ngIf="playerStats.runeKeystone"
            [src]="
              staticGameData.getRuneImageUrl(
                playerStats.runeKeystone,
                playerStats.runePrimaryTree
              )
            "
          />
        </div>
        <div class="row row-half-height no-margin">
          <img
            *ngIf="playerStats.runeSecondaryTree"
            [src]="
              staticGameData.getRuneTreeImageUrl(playerStats.runeSecondaryTree)
            "
          />
        </div>
      </div>
      <mat-divider [vertical]="true"></mat-divider>
      <div class="col-3 inherit-height small-padding no-margin">
        <div class="row row-quarter-height no-margin">
          <span
            class="centered-horizontally mid-bold gray"
            matTooltip="Queue: {{ getMapQueue(match.queue).queue }}"
            >{{ getMapQueue(match.queue).queue }}</span
          >
        </div>
        <div class="row row-quarter-height no-margin">
          <span
            class="centered-horizontally mid-bold gray"
            matTooltip="Map: {{ getMapQueue(match.queue).map }}"
            >{{ getMapQueue(match.queue).map }}</span
          >
        </div>
        <div class="row row-half-height no-margin">
          <div class="col-6 no-margin no-padding">
            <div class="row row-quarter-height no-margin">
              <div
                class="centered-horizontally vertical-down mid-bold"
                matTooltip="Kills: {{ playerStats.kills }}&#13;
                Deaths: {{ playerStats.deaths }}&#13;
                Assists: {{ playerStats.assists }}&#13;
                KDA ratio: {{
                  (playerStats.kills + playerStats.assists) / playerStats.deaths
                    | number: '.0-2'
                }}:1"
              >
                <span class="kill-assist">{{ playerStats.kills }}</span
                >/<span class="death">{{ playerStats.deaths }}</span
                >/<span class="kill-assist">{{ playerStats.assists }}</span>
              </div>
            </div>
            <div class="row row-quarter-height no-margin">
              <span
                class="centered-horizontally vertical-up mid-bold"
                [style.align-self]="baseline"
                matTooltip="Kills: {{ playerStats.kills }}&#13;
                Deaths: {{ playerStats.deaths }}&#13;
                Assists: {{ playerStats.assists }}&#13;
                KDA ratio: {{
                  (playerStats.kills + playerStats.assists) / playerStats.deaths
                    | number: '.0-2'
                }}:1"
              >
                KDA
                {{
                  (playerStats.kills + playerStats.assists) /
                    playerStats.deaths | number: '.0-2'
                }}:1</span
              >
            </div>
          </div>
          <div class="col-6 no-margin no-padding">
            <div class="row row-quarter-height no-margin">
              <span
                class="centered-horizontally vertical-down mid-bold"
                matTooltip="Minions killed: {{ playerStats.totalMinionsKilled }}&#13;
                Neutral monsters killed: {{ playerStats.totalMonstersKilled }}"
                >{{
                  playerStats.totalMinionsKilled +
                    playerStats.totalMonstersKilled
                }}
                CS
              </span>
            </div>
            <div class="row row-quarter-height no-margin">
              <span
                class="centered-horizontally vertical-up mid-bold"
                matTooltip="Kill participate: {{ (playerStats.kills + playerStats.assists) /
                    getPlayerTeamKills(playerStats) | percent }}"
              >
                {{
                  (playerStats.kills + playerStats.assists) /
                    getPlayerTeamKills(playerStats) | percent
                }}
                KP
              </span>
            </div>
          </div>
        </div>
      </div>
      <mat-divider [vertical]="true"></mat-divider>
      <div class="col-2 inherit-height small-padding no-margin">
        <div class="row row-quarter-height no-margin"></div>
        <div class="row row-quarter-height no-margin">
          <div class="col-3 col-item no-margin no-padding">
            <ng-container *ngIf="playerStats.item0; else: noImage">
              <img [src]="staticGameData.getItemImageUrl(playerStats.item0)" />
            </ng-container>
            <ng-template #noImage> <div class="no-item"></div> </ng-template>
          </div>
          <div class="col-3 col-item no-margin no-padding">
            <ng-container *ngIf="playerStats.item1; else: noImage">
              <img [src]="staticGameData.getItemImageUrl(playerStats.item1)" />
            </ng-container>
          </div>
          <div class="col-3 col-item no-margin no-padding">
            <ng-container *ngIf="playerStats.item2; else: noImage">
              <img [src]="staticGameData.getItemImageUrl(playerStats.item2)" />
            </ng-container>
          </div>
          <div class="col-3 col-item no-margin no-padding">
            <ng-container *ngIf="playerStats.item3; else: noImage">
              <img [src]="staticGameData.getItemImageUrl(playerStats.item3)" />
            </ng-container>
          </div>
        </div>
        <div class="row row-quarter-height no-margin">
          <div class="col-3 col-item no-margin no-padding">
            <ng-container *ngIf="playerStats.item4; else: noImage">
              <img [src]="staticGameData.getItemImageUrl(playerStats.item4)" />
            </ng-container>
          </div>
          <div class="col-3 col-item no-margin no-padding">
            <ng-container *ngIf="playerStats.item5; else: noImage">
              <img [src]="staticGameData.getItemImageUrl(playerStats.item5)" />
            </ng-container>
          </div>
          <div class="col-3 col-item no-margin no-padding">
            <ng-container *ngIf="playerStats.item6; else: noImage">
              <img [src]="staticGameData.getItemImageUrl(playerStats.item6)" />
            </ng-container>
          </div>
        </div>
        <div class="row row-quarter-height no-margin"></div>
      </div>
      <mat-divider [vertical]="true"></mat-divider>
      <div class="col-3 inherit-height no-margin small-padding">
        <div class="row inherit-height no-margin">
          <div
            class="col-6 inherit-height no-margin no-padding"
            *ngFor="let team of match.teams"
          >
            <div
              class="row row-participant-summary no-margin"
              *ngFor="let player of team.playerStats"
            >
              <div class="icon no-margin no-padding">
                <a [routerLink]="['/champions', staticGameData.getChampionByChampionId(player.championId).id]">
                <img
                  [src]="
                    staticGameData.getChampionSquareImageUrl(player.championId)
                  "
                  matTooltip="{{ staticGameData.getChampionByChampionId(player.championId).name }}"
                  alt="{{ staticGameData.getChampionByChampionId(player.championId).name }}"
                /></a>
              </div>
              <div class="name no-margin no-padding">
                <a [routerLink]="['/summoner', region, player.summonerName]">{{
                  player.summonerName
                }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-expansion-panel-header>
  <!-- expanded content -->
  <ng-template matExpansionPanelContent>
    <div class="row no-margin">
      <div
        class="col"
        *ngFor="let team of match.teams; first as isFirst; last as isLast"
        [ngClass]="{ 'border-no-right': isFirst, 'border-no-left': isLast }"
        [ngStyle]="{
          'background-color': getExpandedBgColor(getTeamWin(team.win)),
          'border-color': getBorderColor(getTeamWin(team.win))
        }"
      >
        <!-- bans -->
        <div class="row no-gutters" *ngIf="isFirst">
          <div class="col-6 vertical-center text-left mid-bold">Bans</div>
          <div class="col-6 items-bans">
            <div class="fill"></div>
            <div
              *ngFor="let ban of team.teamBans"
              [ngStyle]="{ width: '30px' }"
            >
              <img
                *ngIf="ban.championId !== -1"
                [src]="staticGameData.getChampionSquareImageUrl(ban.championId)"
                matTooltip="{{ staticGameData.getChampionByChampionId(ban.championId).name }}"
              />
              <div class="no-ban" *ngIf="ban.championId === -1"></div>
            </div>
          </div>
        </div>
        <div class="row no-gutters" *ngIf="isLast">
          <div class="col-6 items-bans">
            <div
              *ngFor="let ban of team.teamBans"
              [ngStyle]="{ width: '30px' }"
            >
              <img
                *ngIf="ban.championId !== -1"
                [src]="staticGameData.getChampionSquareImageUrl(ban.championId)"
                matTooltip="{{ staticGameData.getChampionByChampionId(ban.championId).name }}"
              />
              <div class="no-ban" *ngIf="ban.championId === -1"></div>
            </div>
            <div class="fill"></div>
          </div>
          <div class="col-6 vertical-center text-right mid-bold">Bans</div>
        </div>
        <!-- kills -->
        <div class="row no-gutters" *ngIf="isFirst">
          <div class="col-6 vertical-center text-left mid-bold">
            Total kills
          </div>
          <div class="col-6 vertical-center text-right mid-bold">
            <div class="progress team-progress">
              <div
                class="fill fill-min-width inverted"
                [style.width.%]="getKillsMaxPercent(getTeamKills(team))"
              >
                <span>{{ getTeamKills(team) }}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row no-gutters" *ngIf="isLast">
          <div class="col-6 vertical-center text-left mid-bold">
            <div class="progress team-progress">
              <div
                class="fill fill-min-width"
                [style.width.%]="getKillsMaxPercent(getTeamKills(team))"
              >
                <span>{{ getTeamKills(team) }}</span>
              </div>
            </div>
          </div>
          <div class="col-6 vertical-center text-right mid-bold">
            Total kills
          </div>
        </div>
        <!-- towers destroyed -->
        <div class="row no-gutters" *ngIf="isFirst">
          <div class="col-6 vertical-center text-left mid-bold">
            Turrets destroyed
          </div>
          <div class="col-6 vertical-center text-right mid-bold">
            <div class="progress team-progress">
              <div
                class="fill fill-min-width inverted"
                [style.width.%]="getTowerKillsMaxPercent(team.towerKills)"
              >
                <span>{{ team.towerKills }}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row no-gutters" *ngIf="isLast">
          <div class="col-6 vertical-center text-left mid-bold">
            <div class="progress team-progress">
              <div
                class="fill fill-min-width"
                [style.width.%]="getTowerKillsMaxPercent(team.towerKills)"
              >
                <span>{{ team.towerKills }}</span>
              </div>
            </div>
          </div>
          <div class="col-6 vertical-center text-right mid-bold">
            Turrets destroyed
          </div>
        </div>
        <!-- dragons killed -->
        <div class="row no-gutters" *ngIf="isFirst">
          <div class="col-6 vertical-center text-left mid-bold">
            Dragons killed
          </div>
          <div class="col-6 vertical-center text-right mid-bold">
            <div class="progress team-progress">
              <div
                class="fill fill-min-width inverted"
                [style.width.%]="getDragonKillsMaxPercent(team.dragonKills)"
              >
                <span>{{ team.dragonKills }}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row no-gutters" *ngIf="isLast">
          <div class="col-6 vertical-center text-left mid-bold">
            <div class="progress team-progress">
              <div
                class="fill fill-min-width"
                [style.width.%]="getDragonKillsMaxPercent(team.dragonKills)"
              >
                <span>{{ team.dragonKills }}</span>
              </div>
            </div>
          </div>
          <div class="col-6 vertical-center text-right mid-bold">
            Dragons killed
          </div>
        </div>
        <!-- barons killed -->
        <div class="row no-gutters" *ngIf="isFirst">
          <div class="col-6 vertical-center text-left mid-bold">
            Barons killed
          </div>
          <div class="col-6 vertical-center text-right mid-bold">
            <div class="progress team-progress">
              <div
                class="fill fill-min-width inverted"
                [style.width.%]="getBaronKillsMaxPercent(team.baronKills)"
              >
                <span>{{ team.baronKills }}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row no-gutters" *ngIf="isLast">
          <div class="col-6 vertical-center text-left mid-bold">
            <div class="progress team-progress">
              <div
                class="fill fill-min-width"
                [style.width.%]="getBaronKillsMaxPercent(team.baronKills)"
              >
                <span>{{ team.baronKills }}</span>
              </div>
            </div>
          </div>
          <div class="col-6 vertical-center text-right mid-bold">
            Barons killed
          </div>
        </div>
      </div>
    </div>
    <div
      class="row team"
      *ngFor="let team of match.teams"
      [ngStyle]="{
        'background-color': getExpandedBgColor(getTeamWin(team.win)),
        'border-color': getBorderColor(getTeamWin(team.win))
      }"
    >
      <div class="row full-width header-row" [style.height.px]="25">
        <div class="col-3 small-padding">
          {{ getTeamWin(team.win) ? 'Victory' : 'Defeat' }}
        </div>
        <div class="col-1 small-padding">KDA</div>
        <div class="col-1 small-padding">CS</div>
        <div class="col-1 small-padding">Damage</div>
        <div class="col-1 small-padding">Vision</div>
        <div class="col-3 small-padding">Items</div>
      </div>
      <div
        class="row player-row full-width"
        *ngFor="let player of team.playerStats"
        [style.height.px]="30"
      >
        <div class="col-3 small-padding">
          <div class="icons-player-name">
            <div class="champion">
              <img
                class="centered"
                *ngIf="player"
                [src]="
                  staticGameData.getChampionSquareImageUrl(player.championId)
                "
                matTooltip="{{ staticGameData.getChampionByChampionId(player.championId).name }}"
              />
              <span>{{ player.champLevel }}</span>
            </div>
            <div class="summoners-runes">
              <div class="image">
                <img
                  *ngIf="player.spell1Id"
                  [src]="
                    staticGameData.getSummonerSpellImageUrl(player.spell1Id)
                  "
                />
              </div>
              <div class="image">
                <img
                  *ngIf="player.spell2Id"
                  [src]="
                    staticGameData.getSummonerSpellImageUrl(player.spell2Id)
                  "
                />
              </div>
            </div>
            <div class="summoners-runes">
              <div class="image">
                <img
                  *ngIf="player.runeKeystone"
                  [src]="
                    staticGameData.getRuneImageUrl(
                      player.runeKeystone,
                      player.runePrimaryTree
                    )
                  "
                />
              </div>
              <div class="image">
                <img
                  *ngIf="player.runeSecondaryTree"
                  [src]="
                    staticGameData.getRuneTreeImageUrl(player.runeSecondaryTree)
                  "
                />
              </div>
            </div>
            <div>{{ player.summonerName }}</div>
          </div>
        </div>
        <div
          class="col-1 small-padding"
          matTooltip="Kills: {{ player.kills }}&#13;
          Deaths: {{ player.deaths }}&#13;
          Assists: {{ player.assists }}&#13;
          KDA ratio: {{
            (player.kills + player.assists) / player.deaths
              | number: '.0-2'
          }}:1"
        >
          <div class="row kda-cs no-margin">
            <div class="centered-horizontally vertical-down mid-bold">
              <span class="kill-assist">{{ player.kills }}</span
              >/<span class="death">{{ player.deaths }}</span
              >/<span class="kill-assist">{{ player.assists }}</span>
            </div>
          </div>
          <div class="row kda-cs no-margin">
            <span class="centered-horizontally vertical-up mid-bold"
              >KDA
              {{
                (player.kills + player.assists) / player.deaths
                  | number: '.0-2'
              }}:1</span
            >
          </div>
        </div>
        <div class="col-1 small-padding">
          <div class="row kda-cs text-centered-horizontally no-margin">
            <span
              class="centered-horizontally mid-bold"
              matTooltip="Minions killed: {{ player.totalMinionsKilled }}&#13;
              Neutral monsters killed: {{ player.totalMonstersKilled }}"
            >
              {{ player.totalMinionsKilled + player.totalMonstersKilled }} CS
            </span>
          </div>
          <div class="row kda-cs no-margin">
            <span
              class="centered-horizontally mid-bold"
              matTooltip="Gold earned: {{ player.goldEarned }}"
            >
              {{ player.goldEarned }} GE
            </span>
          </div>
        </div>
        <div class="col-1 small-padding">
          <div class="dmg">
            <div
              class="progress"
              matTooltip="Total damage dealt to champions: {{ player.totalDamageDealtToChampions }}&#13;
              Physical damage dealt to champions: {{ player.physicalDamageDealtToChampions }}&#13;
              Magic damage dealt to champions: {{ player.magicDamageDealtToChampions }}&#13;
              True damage dealt to champions: {{ player.trueDamageDealtToChampions }}&#13;
              Total damage taken: {{ player.totalDamageTaken }}&#13;
              Physical damage taken: {{ player.physicalDamageTaken }}&#13;
              Magic damage taken: {{ player.magicDamageTaken }}&#13;
              True damage taken: {{ player.trueDamageTaken }}&#13;"
            >
              <div
                class="fill"
                [style.width.%]="
                  getDmgMaxPercent(player.totalDamageDealtToChampions)
                "
              >
                <span>{{ player.totalDamageDealtToChampions }}</span>
              </div>
            </div>
          </div>
          <div class="dmg">{{ getHighestMultikill(player) }}</div>
        </div>
        <div class="col-1 small-padding">
          <div class="row vision no-margin">
            <div
              class="centered"
              matTooltip="Vision score: {{ player.visionScore }}"
            >
              <img [src]="staticGameData.getItemImageUrl(2055)" />
              <span class="vertical-center"
                >{{ player.visionScore }} Score</span
              >
            </div>
          </div>
          <div class="row vision no-margin">
            <span
              class="centered"
              matTooltip="Wards placed: {{ player.wardsPlaced }}&#13;
              Vision wards bought: {{ player.visionWardsBought }}&#13;
              Wards destroyed: {{player.wardsKilled}}"
            >
              ({{ player.wardsPlaced }}/{{ player.visionWardsBought }}/{{
                player.wardsKilled
              }})</span
            >
          </div>
        </div>
        <div class="col-3 text-centered-horizontally small-padding">
          <div class="items-bans">
            <ng-container *ngIf="player.item0; else: noImage">
              <img [src]="staticGameData.getItemImageUrl(player.item0)" />
            </ng-container>
            <ng-container *ngIf="player.item1; else: noImage">
              <img [src]="staticGameData.getItemImageUrl(player.item1)" />
            </ng-container>
            <ng-container *ngIf="player.item2; else: noImage">
              <img [src]="staticGameData.getItemImageUrl(player.item2)" />
            </ng-container>
            <ng-container *ngIf="player.item3; else: noImage">
              <img [src]="staticGameData.getItemImageUrl(player.item3)" />
            </ng-container>
            <ng-container *ngIf="player.item4; else: noImage">
              <img [src]="staticGameData.getItemImageUrl(player.item4)" />
            </ng-container>
            <ng-container *ngIf="player.item5; else: noImage">
              <img [src]="staticGameData.getItemImageUrl(player.item5)" />
            </ng-container>
            <ng-container *ngIf="player.item6; else: noImage">
              <img [src]="staticGameData.getItemImageUrl(player.item6)" />
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</mat-expansion-panel>
