<mat-dialog-content>
  <form [formGroup]="formItems" (ngSubmit)="onSubmit()">
    <mat-form-field class="form-field">
      <input matInput placeholder="Login" formControlName="login" />
    </mat-form-field>
    <mat-form-field class="form-field">
      <input
        type="password"
        matInput
        placeholder="Password"
        formControlName="password"
      />
    </mat-form-field>
    <button mat-button type="submit">Sign in</button>
  </form>
  <hr />
  <span *ngIf="message">{{ message }}</span>
</mat-dialog-content>
