<div class="d-flex flex-column">
  <canvas
    baseChart
    [data]="chartData"
    [labels]="chartLabels"
    [chartType]="chartType"
    [colors]="chartColors"
  ></canvas>
  <span class="winrate-text">Win ratio: {{ winRate | percent }}</span>
</div>
