<ng-container
  *ngIf="!fetching && liveMatch; then: loaded; else: loading"
></ng-container>
<ng-template #loaded>
  <mat-card>
    <mat-card-content>
      <div class="row no-gutters header-row game-type-row">
        <span>
          {{ getMapQueue(liveMatch.queueType).queue }}&nbsp;
          {{ getMapQueue(liveMatch.queueType).map }}
        </span>
      </div>
      <div class="row no-gutters">
        <div class="col" *ngFor="let team of getTeams(liveMatch)">
          <div
            class="row win-chance-row header-row"
            [ngStyle]="{ 'background-color': getWinChanceBgColor(team) }"
          >
            <span>{{ getTeamWinChance(team) | percent }}</span>
          </div>
          <div class="row bans-row d-flex header-row">
            <div class="icons centered">
              <span>Bans:&nbsp;</span>
              <div class="champion" *ngFor="let champ of getTeamBans(team)">
                <img
                  [src]="staticGameData.getChampionSquareImageUrl(champ)"
                  matTooltip="{{ staticGameData.getChampionByChampionId(champ).name }}"
                  alt="{{ staticGameData.getChampionByChampionId(champ).name }}"
                />
              </div>
            </div>
          </div>
          <div
            class="row player-row"
            *ngFor="let player of getTeamPlayers(team, liveMatch)"
          >
            <div class="col-3 icons">
              <div class="champion">
                <img
                  [src]="
                    staticGameData.getChampionSquareImageUrl(player.championId)
                  "
                  matTooltip="{{ staticGameData.getChampionByChampionId(player.championId).name }}"
                  alt="{{ staticGameData.getChampionByChampionId(player.championId).name }}"
                />
              </div>
              <div class="summoners-runes">
                <div class="image">
                  <img
                    *ngIf="player.spell1Id"
                    [src]="
                      staticGameData.getSummonerSpellImageUrl(player.spell1Id)
                    "
                  />
                </div>
                <div class="image">
                  <img
                    *ngIf="player.spell2Id"
                    [src]="
                      staticGameData.getSummonerSpellImageUrl(player.spell2Id)
                    "
                  />
                </div>
              </div>
            </div>
            <div class="col-6 name-tier-icon">
              <span>{{ player.player.name }}</span>
              <div class="tier">
                <span
                  >{{ getSortedRanks(player)[0].tier }}&nbsp;{{
                    getSortedRanks(player)[0].rank
                  }}</span
                >
                <img
                  [src]="
                    staticGameData.getRankedTierIconUrl(
                      getSortedRanks(player)[0].tier
                    )
                  "
                  alt="{{ getSortedRanks(player)[0].tier }}"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</ng-template>
<ng-template #loading>
  <ng-container *ngIf="!fetching; else: notInGame">
    <mat-card>
      <mat-card-content> The player is not in game </mat-card-content>
    </mat-card>
  </ng-container>
  <ng-template #notInGame>
    <mat-card>
      <mat-card-content> <mat-spinner></mat-spinner> </mat-card-content>
    </mat-card>
  </ng-template>
</ng-template>
