$playerRowHeight: 30px;

.player-row {
  height: $playerRowHeight;

  .icons {
    display: flex;
    flex-direction: row;

    .champion {
      height: $playerRowHeight;
      width: $playerRowHeight;
      margin-right: 15px;

      img {
        object-fit: contain;
        height: 100%;
        width: auto;
        border-radius: 50%;
        align-self: center;
      }
    }

    .summoners-runes {
      height: $playerRowHeight;
      width: calc(#{$playerRowHeight} / 2);

      .image {
        margin: 0;
        padding: 0;
        height: calc(#{$playerRowHeight} / 2);
        width: calc(#{$playerRowHeight} / 2);

        img {
          display: block;
          object-fit: contain;
          height: 100%;
          width: auto;
          border-radius: 20%;
          align-self: center;
        }
      }
    }
  }

  .name-tier-icon {
    display: flex;
    flex-direction: row;

    span {
      text-overflow: ellipsis;
      white-space: nowrap;
      font-weight: 500;
    }

    .tier {
      margin: 0 0 0 auto;
      padding: 0;
      height: $playerRowHeight;
      display: flex;
      align-items: center;

      span {
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: 500;
      }

      img {
        margin: 0 5px;
        display: block;
        object-fit: contain;
        height: 100%;
        width: auto;
        border-radius: 20%;
        align-self: center;
      }
    }
  }
}

.bans-row {
  height: $playerRowHeight;

  .icons {
    display: flex;
    flex-direction: row;
    align-items: center;

    span {
      font-size: 16px;
      font-weight: 500;
    }

    .champion {
      height: $playerRowHeight;
      width: $playerRowHeight;
      margin: 0 5px;

      img {
        object-fit: contain;
        height: 100%;
        width: auto;
        border-radius: 20%;
        align-self: center;
      }
    }
  }
}

.win-chance-row {
  height: $playerRowHeight;
  align-items: center;

  span {
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
  }
}

.game-type-row {
  height: $playerRowHeight;
  align-items: center;

  span {
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
  }
}

.centered {
  margin: 0 auto;
}

.header-row {
  margin: 5px 0;
}
