.toolbar {
  position: fixed;
  top: 0;
  align-items: center;
  z-index: 100;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

:host ::ng-deep .form-field {
  margin: 5px 10px 0;
  font-size: 14px;
}

:host ::ng-deep .select {
  max-width: 100px;
  width: auto;
}

.image {
  max-height: 80%;
}
