<mat-toolbar class="toolbar" color="primary">
  <img src="../../assets/lol-icon.png" class="image" /> <span>LolScout</span>
  <search-challengers></search-challengers>
  <a [routerLink]="['/champions']"
    ><button mat-flat-button color="primary">Champions</button></a
  >
  <span class="toolbar-spacer"></span>
  <login-user></login-user>
  <search-summoner></search-summoner>
</mat-toolbar>
