<div class="container-fluid">
  <div class="row">
    <div class="col-xl-3 col-lg-1 hidden-md"></div>
    <div class="col-md-5 col-lg-4 col-xl-2">
      <player-summary
        *ngIf="player; else: loading"
        [player]="player"
        [followed]="followed"
        (refreshDataEvent)="onRefreshData()"
        (toggleLiveMatchEvent)="onLiveMatchToggle()"
        (toggleFollowEvent)="onFollowToggle()"
      ></player-summary>
    </div>
    <div class="col-md-7 col-lg-6 col-xl-4">
      <ranked-info
        *ngIf="rankedInfo; else: loading"
        [rankedInfo]="rankedInfo"
      ></ranked-info>
    </div>
    <div class="col-xl-3 col-lg-1 hidden-md"></div>
  </div>
  <div class="row">
    <div class="col-xl-2 col-lg-1 hidden-md"></div>
    <div class="col-lg-10 col-xl-8">
      <player-performance
        *ngIf="matches; else: loading"
        [matches]="matches"
        [region]="region"
        [summonerId]="player.summonerId"
      ></player-performance>
    </div>
    <div class="col-xl-2 col-lg-1 hidden-md"></div>
  </div>
  <div class="row" *ngIf="liveMatchOpen">
    <div class="col-xl-2 col-lg-1 hidden-md"></div>
    <div class="col-lg-10 col-xl-8">
      <live-match
        [region]="region"
        [summonerId]="player.summonerId"
        *ngIf="liveMatchOpen"
      ></live-match>
    </div>
    <div class="col-xl-2 col-lg-1 hidden-md"></div>
  </div>
  <div class="row">
    <div class="col-xl-2 col-lg-1 hidden-md"></div>
    <div class="col-lg-10 col-xl-8">
      <matches-list
        *ngIf="matches; else: loading"
        [matches]="matches"
        [region]="region"
        [summonerId]="player.summonerId"
      ></matches-list>
    </div>
    <div class="col-xl-2 col-lg-1 hidden-md"></div>
  </div>
  <ng-template #loading> <mat-spinner></mat-spinner> </ng-template>
</div>
