<div *ngIf="matches">
  <mat-accordion [multi]="true">
    <match-panel
      *ngFor="let match of matches"
      [match]="match"
      [region]="region"
      [summonerId]="summonerId"
    ></match-panel>
  </mat-accordion>
</div>
