<div class="container-fluid">
  <div class="row row-main">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <mat-card>
        <div class="row no-gutters">
          <div
            class="col-1 tile"
            *ngFor="let champion of staticGameData.championDataList"
          >
            <a
              [routerLink]="['/champions', champion.id]"
              matTooltip="{{ champion.name }}"
            >
              <img
                [src]="staticGameData.getChampionSquareImageUrl(+champion.key)"
              />
            </a>
          </div>
        </div>
      </mat-card>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
