$tileSize: 64px;

.background {
  background-image: url('../../assets/summoners-rift-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.full-screen {
  width: 100%;
  height: 100%;
}

.row-main {
  margin: 10px 0;
}

.tile {
  min-width: $tileSize;
  max-width: $tileSize;
  min-height: $tileSize;
  max-height: $tileSize;
  margin: 4px;

  a {
    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
      border-radius: 3px;
    }
  }
}
