<div *ngIf="!fetching; else: loading" class="container-fluid">
  <div class="row">
    <div class="col-sm-2 col-md-3 col-xl-4"></div>
    <div class="col-sm-8 col-md-6 col-xl-4">
      <mat-card>
        <mat-card-content>
          <div class="d-flex flex-row">
            <span class="ladder-position">#1</span>
            <img
              class="top-player-image"
              [src]="staticGameData.getProfileIconUrl(topPlayer.profileIconId)"
            />
            <div class="d-flex flex-column top-player-content">
              <a
                [routerLink]="['/summoner', region, topPlayer.name]"
                class="name"
                >{{ topPlayer.name }}</a
              >
              <div class="rank-lp">
                <img
                  [src]="staticGameData.getRankedTierIconUrl('challenger')"
                />
                <span class="text"
                  >Challenger {{ league.entries[0].leaguePoints }} LP</span
                >
              </div>
              <div class="filler"></div>
              <div [style.height.px]="30">
                <div class="win-ratio">
                  <div
                    class="win"
                    [style.width.%]="getWinRatio(league.entries[0])"
                  >
                    <span class="text-margin">{{
                      league.entries[0].wins
                    }}</span>
                  </div>
                  <div
                    class="loss"
                    [style.width.%]="100 - getWinRatio(league.entries[0])"
                  >
                    <span class="text-margin">{{
                      league.entries[0].losses
                    }}</span>
                  </div>
                </div>
                <span class="absolute text-margin"
                  >{{ getWinRatio(league.entries[0]) }}%</span
                >
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-sm-2 col-md-3 col-xl-4"></div>
  </div>
  <div class="row">
    <div class="col">
      <mat-table [dataSource]="league.entries.slice(1)" class="table">
        <ng-container matColumnDef="position">
          <mat-header-cell *matHeaderCellDef class="number-column"
            >#</mat-header-cell
          >
          <mat-cell
            *matCellDef="let element; let i = index"
            class="number-column"
            >{{ i + 2 }}</mat-cell
          >
        </ng-container>
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef>Summoner name</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a [routerLink]="['/summoner', region, element.playerOrTeamName]">
              {{ element.playerOrTeamName }}</a
            >
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="league">
          <mat-header-cell *matHeaderCellDef>League</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ league.tier }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="lp">
          <mat-header-cell *matHeaderCellDef class="number-column"
            >LP</mat-header-cell
          >
          <mat-cell *matCellDef="let element" class="number-column">
            {{ element.leaguePoints }}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="winRatio">
          <mat-header-cell *matHeaderCellDef class="win-ratio-column"
            >Win ratio</mat-header-cell
          >
          <mat-cell *matCellDef="let element" class="win-ratio-column">
            <div [style.height.px]="30" [style.width.px]="150">
              <div class="win-ratio">
                <div class="win" [style.width.%]="getWinRatio(element)">
                  <span class="text-margin">{{ element.wins }}</span>
                </div>
                <div class="loss" [style.width.%]="100 - getWinRatio(element)">
                  <span class="text-margin">{{ element.losses }}</span>
                </div>
              </div>
              <span class="absolute text-margin"
                >{{ getWinRatio(element) }}%</span
              >
            </div>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let element; columns: displayedColumns"></mat-row>
      </mat-table>
    </div>
  </div>
</div>
<ng-template #loading><mat-spinner></mat-spinner></ng-template>
