.row {
  margin: 10px 0;
}

.ladder-position {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: goldenrod;
  color: white;
  font-weight: 500;
  font-size: 16px;
  width: 24px;
}

.top-player-image {
  width: 200px;
  height: auto;
  object-fit: contain;
}

.top-player-content {
  margin: 0 0 0 10px;

  .name {
    font-size: 20px;
    font-weight: 500;
    align-self: center;
    margin: 0 auto 0 0;
    text-decoration: none;
    color: inherit;
    white-space: nowrap;
    overflow: hidden;
  }

  .text {
    align-self: center;
    font-size: 14px;
  }

  .rank-lp {
    height: 30px;
    display: flex;
    flex-direction: row;

    img {
      height: inherit;
      width: auto;
      object-fit: contain;
    }
  }

  .text-margin {
    margin: 4px;
  }
}

.win-ratio {
  display: inline-flex;
  position: relative;
  height: 100%;
  width: calc(100% - 40px);

  .win {
    height: 100%;
    border: 1px #30c630 solid;
    background-color: #65ee58;

    span {
      position: absolute;
      left: 0px;
    }
  }

  .loss {
    height: 100%;
    border: 1px #c64430 solid;
    background-color: #ee5a58;
    float: right;

    span {
      position: absolute;
      right: 0px;
    }
  }
}

.table {
  max-width: 600px;
  margin: 0 auto;

  a {
    text-overflow: ellipsis;
    text-decoration: none;
    color: inherit;
    white-space: nowrap;
    overflow: hidden;
  }

  .number-column {
    flex: 0 0 50px;
  }

  .text-column {
    flex: 0 0 150px;
  }

  .win-ratio-column {
    flex: 0 0 150px;
  }

  .text-margin {
    margin: 4px;
  }
}

.filler {
  margin: auto;
}

.absolute {
  position: absolute;
}

.text-vertical-center {
  vertical-align: middle;
}
