<mat-card>
  <mat-card-content>
    <div class="row">
      <div class="col-sm-6">
        <winrate-doughnut
          [playerStatsList]="playerStatsList"
        ></winrate-doughnut>
      </div>
      <mat-divider [vertical]="true" [style.margin-right.px]="-1">
      </mat-divider>
      <div class="col-sm-6">
        <kda-chart [playerStatsList]="playerStatsList"></kda-chart>
      </div>
    </div>
    <mat-divider> </mat-divider>
    <div class="row">
      <div class="col-12">
        <most-played-champs
          [playerStatsList]="playerStatsList"
        ></most-played-champs>
      </div>
    </div>
  </mat-card-content>
</mat-card>
