$champRowHeight: 40px;

.champ-row {
  height: $champRowHeight;
  width: 100%;
  margin: 10px 0;
}

.champ-image {
  object-fit: contain;
  height: $champRowHeight;
  width: auto;
  border-radius: 50%;
  margin-right: 10px;
}

.text {
  margin: 0 auto;
  align-self: center;
  font-size: 14px;
  white-space: nowrap;
}
