<div class="row champ-row">
  <div class="col d-flex" *ngFor="let champion of mostPlayedChampsStats">
    <img
      class="champ-image"
      [src]="staticGameData.getChampionSquareImageUrl(champion.championId)"
      matTooltip="{{ staticGameData.getChampionByChampionId(champion.championId).name }}"
    />
    <div class="d-flex flex-column">
      <div class="text">
        Win ratio:
        <span [style.color]="getWinRateColor(champion)">
          {{ champion.wins / champion.gamesPlayed | percent }}
        </span>
        ({{ champion.wins }}/{{ champion.losses }})
      </div>
      <div class="text">
        KDA:
        <span [style.color]="getKdaColor(champion)">
          {{ getKda(champion) | number: '.0-2' }}:1
        </span>
      </div>
    </div>
  </div>
</div>
